{% extends 'base.html.twig' %}

{% block body %}

    <div id="backG1"></div>
    <main id="home">
        <h1>Gallery Flowers</h1>
        <section>
                <article>
                    <img src="{{ asset('css/images/Flower/Flower1.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Flower/Flower2.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Flower/Flower3.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Flower/Flower4.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Flower/Flower5.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Flower/Flower6.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Flower/Flower7.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Flower/Flower8.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Flower/Flower9.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Flower/Flower10.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Flower/Flower11.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Flower/Flower12.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Flower/Flower13.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Flower/Flower14.jpg') }}" alt="Photo accueil">
                </article>
        </section>
    </main>
{% endblock %}
