{% extends 'base.html.twig' %}

{% block body %}

    <div id="backG2"></div>
    <main id="home">
        <h1>Gallery Landscape</h1>
        <section>
                <article>
                    <img src="{{ asset('css/images/Landscape/Landscape1.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Landscape/Landscape2.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Landscape/Landscape3.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Landscape/Landscape4.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Landscape/Landscape5.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Landscape/Landscape6.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Landscape/Landscape7.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Landscape/Landscape8.jpg') }}" alt="Photo accueil">
                </article>
        </section>
    </main>
{% endblock %}
