{% extends 'base.html.twig' %}

{% block body %}

    <div id="backG1"></div>
    <main id="home">
        <h1>Gallery Ocean Wildlife</h1>
        <section>
                <article>
                    <img src="{{ asset('css/images/OW/OW1.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/OW/OW2.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/OW/OW3.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/OW/OW4.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/OW/OW5.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/OW/OW6.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/OW/OW7.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/OW/OW8.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/OW/OW9.jpg') }}" alt="Photo accueil">
                </article>
        </section>
    </main>
{% endblock %}
