{% extends 'base.html.twig' %}

{% block body %}

    <div id="backG2"></div>
    <main id="home">
        <h1>Gallery Place</h1>
        <section>
                
                <article>
                    <img src="{{ asset('css/images/Place/Place1.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Place/Place2.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Place/Place3.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Place/Place4.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Place/Place5.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Place/Place6.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Place/Place7.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Place/Place8.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Place/Place9.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Place/Place10.jpg') }}" alt="Photo accueil">
                </article>
                <article>
                    <img src="{{ asset('css/images/Place/Place11.jpg') }}" alt="Photo accueil">
                </article>
        </section>
    </main>
{% endblock %}
