<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}The Alex's Gallery{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="../css/styles_version_PC.css">
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul id="menu-accordeon">
                    <li><a href="{{ path("home") }}" class="active">Home</a></li>
                    <li><a>Gallery</a>
                        <ul>
                            <li><a href="{{ path("animal") }}">Animal</a></li>
                            <li><a href="{{ path("beach") }}">Beach</a></li>
                            <li><a href="{{ path("boat") }}">Boat</a></li>
                            <li><a href="{{ path("flower") }}">Flowers</a></li>
                            <li><a href="{{ path("food") }}">Food</a></li>
                            <li><a href="{{ path("landscape") }}">Landscape</a></li>
                            <li><a href="{{ path("oc") }}">Ocean Wildlife</a></li>
                            <li><a href="{{ path("place") }}">Place</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path("contact") }}">Contact</a></li>
                </ul>
            </nav>
            <hr>
        </header>
        {% block body %}{% endblock %}
        <footer>
            <ul>
                <li><a href="">Mentions Légales</a></li>
            </ul>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
